<h3>Enti</h3>
<div style="margin: 30px 0;">
<iframe title="DVRI - DISTRETTO VENEZIANO RICERCA E INNOVAZIONE" aria-label="Locator maps" id="datawrapper-chart-UEzUn" src="https://datawrapper.dwcdn.net/UEzUn/8/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="504"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
</div>
<p>Gli Atti fondamentali dalla nascita del Distretto Veneziano per la Ricerca e l’ Innovazione (DVRI) sono: la <strong>Dichiarazione di Venezia per la Collaborazione nella Ricerca (11 novembre 2011)</strong>, e l’Atto costitutivo dell’ Associazione Distretto Veneziano per la Ricerca e l’Innovazione – DVRI (27 giugno 2014).</p>
<p>Gli Enti <strong>membri dell'Associazione Distretto Veneziano per la Ricerca e l'Innovazione</strong> (nonché firmatari della Dichiarazione) sono:</p>
<ul>
<li><a href="http://www.accademiavenezia.it/" target="_blank">Accademia di Belle Arti di Venezia</a></li>
<li><a href="http://www.dszv.it" target="_blank">Centro Tedesco di Studi Veneziani</a></li>
<li><a href="http://www.ismar.cnr.it/" target="_blank">CNR ISMAR- Consiglio Nazionale Ricerche</a></li>
<li><a href="https://www.isp.cnr.it/index.php/en/" target="_blank">CNR ISP- Consiglio Nazionale Ricerche</a></li>
<li><a href="http://www.conservatoriovenezia.net" target="_blank">Conservatorio di Musica Benedetto Marcello</a></li>
<li><a href="http://www.bevilacqualamasa.it/flex/cm/pages/ServeBLOB.php/L/IT/IDPagina/613" target="_blank">Fondazione Bevilaqua La Masa </a></li>
<li><a href="http://www.visitmuve.it" target="_blank">Fondazione Musei Civici di Venezia</a></li>
<li><a href="http://www.querinistampalia.org" target="_blank">Fondazione Querini Stampalia Onlus</a></li>
<li><a href="http://www.fondazionelevi.it/" target="_blank">Fondazione Ugo e Olga Levi onlus</a></li>
<li><a href="https://www.isre.it/" target="_blank">Istituto Superiore Internazionale di Ricerca Educativa</a></li>
<li><a href="https://www.iusve.it/" target="_blank">Istituto Salesiano Universitario Venezia</a></li>
<li><a href="https://www.iuav.it/" target="_blank">IUAV - Università IUAV Architettura Venezia</a></li>
<li><a href="https://www.m9museum.it/" target="_blank">M9 s.r.l</a></li>
<li><a href="https://www.ocean-space.org/it/" target="blank">Ocean Space</a></li>
<li><a href="http://www.perveneziaconsapevole.it/it" target="_blank">P.E.R. Venezia Consapevole</a></li>
<li><a href="http://www.unive.it" target="_blank">Università Ca' Foscari Venezia</a></li>
<li><a href="http://www.univiu.org" target="_blank">Venice International University VIU</a></li>
<li>Venice International Centre for the Environment and Culture Onlus </li>
</ul>
<p>Gli altri Enti che hanno firmato la<span class="apple-converted-space"> </span><strong>Dichiarazione di Venezia</strong> per la Collaborazione nella Ricerca (2011) da cui è poi nato il DVRI sono:</p>
<ul>
<li><a href="http://www.ateneoveneto.org/" target="_blank">Ateneo Veneto di Scienze Lettere ed Arti</a></li>
<li><a href="http://www.veneziaricerche.it/" target="_blank">Consorzio Venezia Ricerche</a></li>
<li><a href="http://www.corila.it" target="_blank">CO.RI.LA - Consorzio Ricerche Lagunari</a></li>
<li><a href="http://www.feem.it/getpage.aspx?id=3643&amp;lang=ita" target="_blank">Fondazione Eni Enrico Mattei</a></li>
<li><a href="http://www.cini.it" target="_blank">Fondazione Giorgio Cini</a></li>
<li><a href="http://www.eiuc.org" target="_blank">EIUC; European Inter-University Centre for Human Rights and Democratisation</a></li>
<li><a href="http://www.fondazioneligabue.it/" target="_blank">Fondazione Giancarlo Ligabue</a></li>
<li><a href="http://www.marcianum.it/" target="_blank">Fondazione Marcianum</a></li>
<li><a href="http://www.fondazionegiannipellicani.it" target="_blank">Fondazione Gianni Pellicani</a></li>
<li><a href="http://www.istitutoellenico.org" target="_blank">Istituto Ellenico di studi Bizantini e Postbizantini Venezia</a></li>
<li><a href="http://www.iveser.it" target="_blank">Istituto veneziano per la storia della Resistenza e della società contemporanea (Iveser), Centro Documentazione e Ricerca Trentin</a></li>
<li><a href="http://www.ven.camcom.it" target="_blank">Unioncamere Veneto</a></li>
</ul>

<h3>Organizzazione</h3>
<h4>Consiglio Direttivo</h4>
<ul>
  <li>Michele Bugliesi, Presidente</li>
  <li>Mauro Sclavo, Vicepresidente</li>
  <li>Tiziana Lippiello</li>
  <li>Nicola Giacopini</li>
  <li>Giorgio Orsoni</li>
</ul>
<h4>Assemblea</h4>
<ul>
  <li>Accademia di Belle Arti, Michele Casarin </li>
  <li>Centro Tedesco di Studi Veneziani, Richard Erkens </li>
  <li>CNR,Fabiana CORAMI</li>
  <li>Conservatorio B.Marcello Venezia, Fabio Moretti</li>
  <li>CO.RI.LA, Antonio Marcomini</li>
  <li>Fond. Bevilacqua La Masa, Bruno Bernardi</li>
  <li>Fondazione Olga e Ugo Levi, Giorgio Busetto</li>
  <li>Fond. Musei Civici di Venezia,  Maria Cristina Gribaudi</li>
  <li>Fond. Querini Stampalia Onlus,  Paolo Molesini </li>
  <li>IUAV, Alberto Ferlenga </li>
  <li>IUSVE,  Nicolò Giacopini</li>
  <li>M9 District S.r.l,   Antonio Rigon</li>
  <li>Ocean Space, David Hrankovic</li>
  <li>Università Ca' Foscari Venezia, Tiziana Lippiello</li>
  <li>Venice International University, Carmelo Marabello</li>
  <li>VIC, Giorgio Orsoni</li>
</ul>
<h4>Staff</h4>
  <div class="row">
      <div class="col-12 col-md-4">
        <div class="text-center">
          <img style="border-radius: 50%; height: 100px" src="{{ site.baseurl }}/assets/progetti/chi-siamo/cosmo.jpg" alt="Gabriella Traviglia">
        </div>
          <div class="text-center">
          <h4> Marco Cosmo</h4>
          <h5 style="font-size=20px">Direttore</h5>
          <div>
            <a href="https://www.linkedin.com/in/marcocosmo?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAAUedXcB-nX6oD7vhiASObrwhbSaQ7KuvO8&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BCQASoZiLTwyWVUyrBZPEPQ%3D%3D"><i class="fab fa-linkedin"></i></a>
            <p style="font-size: 10px" class="text-muted">marco.cosmo@unive.it</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          <img style="border-radius: 50%; height: 100px" src="{{ site.baseurl }}/assets/progetti/chi-siamo/gabri.jpg" alt="Gabriella Traviglia">
        </div>
          <div class="text-center">
          <h4> Gabriella Traviglia</h4>
          <h5 style="font-size=20px">Progettazione | Project Management | Valorizzazione Ricerca</h5>
          <div>
            <a href="https://www.linkedin.com/in/gabriella-traviglia-0038b653/"><i class="fab fa-linkedin"></i></a>
            <a href="http://www.gabriellatraviglia.eu/"><i class="fas fa-home"></i></a>
            <p style="font-size: 10px" class="text-muted">gabriella.traviglia@dvri.it</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          <img style="border-radius: 50%; height: 100px" src="{{ site.baseurl }}/assets/progetti/chi-siamo/villa.jpg" alt="Gabriella Traviglia">
        </div>
          <div class="text-center">
          <h4> Erica Villa</h4>
          <h5 style="font-size=20px">Curatrice Arte e Scienza</h5>
          <div>
            <a href="https://www.linkedin.com/in/ericavilla?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAABjoQSMBMV9hXSn_4TiQSLcBVdtNR_mAyI8&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bfx9mQkPwTNGYWVuY2th%2B6A%3D%3D"><i class="fab fa-linkedin"></i></a>
            <p style="font-size: 10px" class="text-muted">erica.villa@unive.it</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="text-center">
          <img style="border-radius: 50%; height: 100px" src="{{ site.baseurl }}/assets/progetti/chi-siamo/giulia-saya.jpeg" alt="Giulia Saya">
        </div>
          <div class="text-center">
          <h4> Giulia Saya</h4>
          <h5 style="font-size=20px">Collaboratrice Project Manager</h5>
          <div>
            <a href="https://www.linkedin.com/in/giulia-saya-51b55363/"><i class="fab fa-linkedin"></i></a>
            <p style="font-size: 10px" class="text-muted">giulia.saya@dvri.it</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          <img style="border-radius: 50%; height: 100px" src="{{ site.baseurl }}/assets/progetti/chi-siamo/cover2.jpg" alt="Gabriella Traviglia">
        </div>
          <div class="text-center">
          <h4> Segreteria Scientifica</h4>
          <h5 style="font-size=20px">Per informazioni, segnalazioni e opportunità</h5>
          <div>
            <a href="https://www.linkedin.com/in/marcocosmo?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAAUedXcB-nX6oD7vhiASObrwhbSaQ7KuvO8&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BCQASoZiLTwyWVUyrBZPEPQ%3D%3D"><i class="fab fa-linkedin"></i></a>
            <p style="font-size: 10px" class="text-muted">dvr@unive.it</p>
          </div>
        </div>
      </div>
  </div>
