<div class="footer-container">
  <div class="container footer" style="padding-bottom: 20px; max-width: 740px">
    <div class="row">

      <div class="col-sm-4 col-xs-6">
      <h5>Pagine</h5>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Homepage</a></li>
        <li><a href="{{ site.baseurl }}/progetti/chi-siamo.html">Chi Siamo?</a></li>
        <li><a href="{{ site.baseurl }}/progetti/diventa-socio.html">Diventa Socio</a></li>
        <li><a href="{{ site.baseurl }}/progetti/arte-marine.html">Educazione alla sostenibilità</a></li>
        <li><a href="{{ site.baseurl }}/progetti/arte-scienza.html">Arte e Scienza</a></li>
        <li><a href="https://dvri.substack.com/">Blog</a></li>

      </ul>
      </div>

        <div class="col-sm-4 col-xs-6">
          <h5>Contatti</h5>
          <ul>
            <li><a href="https://www.google.it/maps/place/Calle+de+la+Saoneria,+3246,+30123+Venezia/@45.4356618,12.3235783,17z/data=!3m1!4b1!4m5!3m4!1s0x477eb1cf4227c43b:0x9de68d792b3860d9!8m2!3d45.4356618!4d12.325767?sa=X&ved=0ahUKEwiNvZHfv5TQAhWIUhQKHRi9DL4Q8gEIHDAA" target="_blank">Dorsoduro 3911 | 30123 Venezia</a></li>
            <li><a href="https://sites.google.com/unive.it/dvri-community-blog/welcome" target="_blank">Blog</a></li>
            <li><a href="mailto:dvr@unive.it">dvr@unive.it</a></li>
            <li>PEC dvri@pec.it</li>
            <li><a href="https://www.facebook.com/distrettoveneziano/?fref=ts" target="_blank">Facebook</a>
            </li>
            <li><a href="https://www.spreaker.com/show/dvri-on-air" target="_blank">DVRI On AIR</a>
            </li>
            <li> C.F: 94085160276</li>
            <li>IBAN IT67 D030 6909 6061 0000 0100 522</li>
            <li>
              <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"9f20e2ae6f7523731d2962b27","lid":"b4016194af","uniqueMethods":true}) })</script>
            </li>

           <!--<div class="col-sm-4 col-xs-6">
           <img src="{{ site.baseurl }}/assets/logo-sfondo-nero.png">
           </div>-->
            </div>


      <div class="col-sm-4 col-xs-6">
        <h5>Terms of Conditions</h5>
        <ul>
          <li><a href="https://www.iubenda.com/privacy-policy/19577402" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
          <li><a href="{{ site.baseurl }}/progetti/privacy.html" target="_blank">Informativa Privacy e Cookies</a>
          </li>
          <li><a href="{{ site.baseurl }}/progetti/trasparenza.html" target="_blank">Trasparenza</a>
          </li>

        </ul>
        <h5> Media partnership con <br/>
        <a href="https://radiocafoscari.it/" target="_blank" class="link_img"><img src="{{ site.baseurl }}/assets/Logo-Radiocafoscari.png" alt="logo di Radio Ca' Foscari"></a>
        </h5>

        <!--IUBENDA Cookiess

        <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {"ccpaAcknowledgeOnDisplay":true,"ccpaApplies":true,"consentOnContinuedBrowsing":false,"enableCcpa":true,"floatingPreferencesButtonDisplay":"bottom-right","invalidateConsentWithoutLog":true,"perPurposeConsent":true,"siteId":2598453,"whitelabel":false,"cookiePolicyId":19577402,"lang":"it","cookiePolicyUrl":"http://distrettovenezianoricerca.it/progetti/privacy.html","privacyPolicyUrl":"http://distrettovenezianoricerca.it/progetti/privacy.html", "banner":{ "acceptButtonDisplay":true,"closeButtonRejects":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"position":"float-top-center","rejectButtonDisplay":true }};
        </script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
      </div>-->
    </div><!--.row-->

  </div><!--.footer-->
</div><!--.footer-container-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86051530-1', 'auto');
  ga('send', 'pageview');
</script>
