#pagina-intro-diventa-socio
  background-color: rgba(40,0,40, 0.5)
  h2
    color: #fff
    font-weight: lighter
    letter-spacing: 2px
    font-size: 50px
    font-family: monospace
    @media (max-width: 640px)
      font-size: 30px
  a
    color: #fff
    font-weight: lighter !important
    text-decoration: none
  p
    font-size: 30px
    text-transform: uppercase
    font-weight: 400
    color: #C9C9C9
#pagina-diventa-socio
h3
  color: #C94634
  padding-top: 20px
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee
  padding-bottom: 20px
  margin-top: 40px
  font-size: 32px
  font-family: Georgia
h4
  color: darken(rgba(120, 199, 208, 1), 20%)
  margin-top: 30px
  font-size: 12px
  font-weight: bold
  letter-spacing: 2px
  text-transform: uppercase
h5
  font-size: 10px
  text-transform: uppercase
  color: #C94634
p, li
  font-size: 18px
.col-xs-4
  p
    font-family: Georgia
    color: #666
.sommario, .share-buttons
  .toc-h5
    display: none
a
  text-decoration: underline
a:hover
  color: #C94634
