---
layout: page
page_id: arte-marine
title: L’arte delle Scienze Marine
claim: Il Pianeta Blu si tinge di rosso”
toc: true
---

<h3>“L’arte delle Scienze Marine - Il Pianeta Blu si tinge di rosso”</h3>
<blockquote>
  <p>08.06.21 - 30.09.21</p>
</blockquote>
<div class="p-3">
  <i>How inappropriate to call this planet Earth when it is clearly Ocean</i>
  <i>Quanto è sbagliato chiamare questo pianeta Terra quando è chiaramente Oceano</i>
  <footer>Arthur C. Clarke</footer>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xODBvySD850" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>L’arte delle Scienze Marine - "Il Pianeta Blu si tinge di Rosso" è il risultato della collaborazione tra 17 ricercatori del Consiglio Nazionale Ricerche (Istituto di Scienze Marine e Istituto di Scienze Polari), DAIS - Università Ca' Foscari di Venezia e 16 artisti esordienti dell'Accademia di Belle Arti di Venezia, Università Ca' Foscari di Venezia, IUAV e Conservatorio Benedetto Marcello.</p>
<p>Questo progetto espositivo è composto da 12 opere che raccontano 12 ricerche sugli oceani, il mare e l'acqua.
</p>

<h4>Il nostro futuro è fortemente legato al futuro degli oceani. Cosa accadrebbe se il nostro pianeta blu diventasse rosso?</h4>

<p>Durante un workshop lungo un anno, abbiamo indagato lo stato di salute del nostro Pianeta Blu e abbiamo esplorato, insieme a giovani artisti e ricercatori, documenti scientifici e progetti legati alle scienze marine. Campi di ricerca meno conosciuti e all'avanguardia nei loro campi specifici sono stati presentati insieme alla scienza mainstream più popolare.</p>
<p>Gli argomenti trattati sono stati vari, dalle osservazioni della microstruttura della turbolenza al clima delle onde, dall'inquinamento acustico subacqueo alla ricostruzione paleobatimetrica e ancora alla dinamica delle acque dense nel Mare di Ross (Antartide) e alla contaminazione da mercurio nelle acque.</p>
<p>Il progetto mira a valorizzare i temi della Giornata Mondiale degli Oceani, un'iniziativa riconosciuta dalle Nazioni Unite dal 2008, che aspira a informare e coinvolgere i cittadini nella conoscenza e nella protezione degli ambienti marini e costieri.
</p>

<h4>Perchè il rosso?</h4>
<img class="p-5" src="{{ site.baseurl }}/assets/progetti/arte-marine-2021/locandina-arsmar.jpg" alt="Locandina Arsmar"/>

<p>Questo colore ha una connotazione simbolica ambivalente molto forte, ed è senza dubbio quello che meglio rappresenta l'urgenza di intervenire al più presto nella protezione di mari e oceani, e di tutte le forme di vita che vi abitano. </p>
<p>Il rosso è il colore del sangue e dell'energia vitale sia mentale che fisica, è collegato a emozioni intense e sentimenti positivi come la passione e l'amore, ma anche all'aggressività e alla trasgressione; è usato - in modo universale - per attirare l'attenzione e indicare un pericolo (segnali stradali, ferroviari, marittimi, aerei e nei segnali di avvertimento e di divieto, in molte spie luminose). Nelle diverse culture e nel corso dei secoli, il rosso è stato usato e indossato in occasioni diverse e spesso antitetiche, riflettendo l'intrinseca ambivalenza del colore stesso. </p>
<p>Ciò che unisce le opere, però, è il filo conduttore della ricerca, che individua contaminanti e fattori di rischio per la salute del mare, dei suoi abitanti e di conseguenza per tutti noi.</p>
<i>Un ringraziamento speciale alla Prof.ssa Elena Rotondi e agli studenti di Brand Management e Corporate Identity dello IUSVE - Università, che hanno ideato il progetto di comunicazione di questa edizione.
</i>

<p>Francesco Falcieri, Gabriella Traviglia, Erica Villa e Fabiana Cormai</p>

<div class="text-center py-5">
  <a href="{{ site.baseurl }}/assets/progetti/arte-marine-2021/catalogo2021.pdf" target="_blank">
    <button type="button" class="btn btn-lg btn-outline-primary">Scarica il catalogo</button></a>
</div>

{% include arte_scienze_marine_editions.html %}
{% include newsletter.html %}
