---
layout: page
page_id: arte-marine
title: ArsMar - L’arte delle Scienze Marine
claim: 5 maggio 2023 - 5 luglio 2023, Palazzina Canonica, 1364 Riva dei Sette Martiri 30122 Venezia
toc: true
---

<h3>ARSMar L’arte delle Scienze Marine - Antropocene: La terra a ferro e fuoco</h3>
<div class="p-3">
  <h3>INFORMAZIONI</h3>
  <img src="{{ site.baseurl }}/assets/progetti/arte-marine-2023/ARSMar.png" alt="locandina">
  <div class="d-flex justify-content-between">
    <div class="">
      <p>Inizio: 05 Mag 2023</p>
    </div>
    <div class="">
      <p>Fine: 05 Lug 2023</p>
    </div>
  </div>
  <div class="">
    <p>Dove: Palazzina Canonica - Riva dei Sette Martiri 1364/A, Venezia</p>
  </div>
  <div class="">
    <p>Aperto tutti i giorni dalla 10 alle 18</p>
  </div>
</div>
<div class="p-3">
  <h3 class="text-center"> CONTESTO </h3>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/xODBvySD850" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>ARSMar – L’Arte delle Scienze Marine nel 2023 arriva alla terza edizione, quest’anno organizzata  nell’ambito delle celebrazione per il centenario del Consiglio Nazionale delle Ricerche (CNR).</p>
    <p>ArsMar nasce dalla collaborazione tra l’Istituto di Scienze Marine del CNR, Il Distretto Veneziano Ricerca e Innovazione (DVRI) e l’Accademia delle Belle Arti di Venezia in occasione del World Oceans Day 2019 con l’obiettivo di informare e coinvolgere i cittadini nella conoscenza e tutela degli ambienti marini e costieri. Scopo di ArsMar è divulgare tematiche legate alle scienze marine attraverso l’interazione tra scienziati e artisti in formazione stimolando un percorso di ricerca artistica a partire da tematiche di ricerca scientifica.</p>
    <p>Per la terza edizione sono stati selezionati 10 studenti dell’Accademia delle Belle Arti di Venezia che, in seguito all’affiancamento con un ricercatore/team di ricerca del CNR e ad un percorso di formazione specifica, hanno prodotto altrettante opere ispirate dalle tematiche di ricerca proposte. Obiettivo finale del progetto è stato quello di partecipare con le opere prodotte alla mostra “Antropocene – La terra a ferro e fuoco” organizzata per il centenario CNR.</p>
    <p>
        La terza edizione è condotta nel contesto del Progetto Europeo <a href="https://bluenights.eu/">Bluenights</a></p>
</div>
<div class="p-3">
  <h3 class="text-center">IL TEMA DELLA TERZA EDIZIONE</h3>

  <p>L’Uomo ha messo a “ferro e fuoco” l’ambiente fin dalla sua comparsa sulla Terra.</p>
  <p>Dopo una colonizzazione inizialmente lenta di tutti i continenti, abbiamo assistito a un recente e rapido aumento della popolazione, dello sviluppo tecnologico e della globalizzazione, che hanno reso l'uomo la principale forza capace di influenzare le dinamiche del sistema terrestre.</p>
  <p>Dal 1950 siamo entrati in quello che viene definito Antropocene: l’epoca geologica nella quale l'essere umano è riuscito con modifiche territoriali, strutturali e climatiche ad incidere su processi geologici. Nonostante l'entità delle trasformazioni in atto, molti degli impatti causati dall'uomo sono ancora "invisibili" e difficilmente "percepibili" nella vita di tutti i giorni, a causa della scala spaziale e temporale in cui questi fenomeni si verificano: si tratta di processi o eventi troppo grandi o lunghi, o al contrario troppo piccoli e brevi per accorgercene nel quotidiano.</p>
  <p>Questa mostra mira ad avvicinare questi fenomeni alla percezione sensoriale dei visitatori, fornendo un'esperienza diretta del rumore sottomarino, delle puzze urbane e industriali e delle cose micro e nano che entrano nei nostri corpi. Ci si è proposti di mostrare ai visitatori storie e fenomeni difficili da catturare con i soli sensi a disposizione dell’essere umano, ma che sappiamo essere una spada di Damocle sul nostro futuro e del Pianeta che ci ospita.</p>
</div>
<div class="p3">
  <h3 class="text-center">OBIETTIVI</h3>
  <p>Gli obiettivi dell’iniziativa sono i seguenti:</p>
  <ul>
    <li> sensibilizzare il pubblico sui temi della sostenibilità ambientale;</li>
    <li> informare e coinvolgere i cittadini nella conoscenza e tutela degli ambienti marini e costieri;</li>
    <li> promuovere un dialogo intergenerazionale tra studenti e ricercatori;</li>
    <li> sviluppare le competenze di studenti e ricercatori in ambito di comunicazione e divulgazione scientifica;</li>
    <li> valorizzare l’importanza dell’arte nella società.</li>
  </ul>
</div>
<div class="py-1">
  <h4>ARTISTI TERZA EDIZIONE</h4>
  <em> Comitato valutatore: Francesco Falcieri (CNR ISMAR, ideatore arsMar), Gabriella Traviglia (DVRI, ideatrice arsMar), Riccardo Caldura (Accademia di Belle Arti Venezia), Michele Casarin (Accademia di Belle Arti di Venezia)</em>
    <ul class="list-group py-3">
      <li class="list-group-item">Bravin	Arianna</li>
      <li class="list-group-item">Caropreso	Nicholas</li>
      <li class="list-group-item">Catena	Selene</li>
      <li class="list-group-item">DA RE	STEFANIE</li>
      <li class="list-group-item">Dall'O	Giada</li>
      <li class="list-group-item">Facchin	Giulia</li>
      <li class="list-group-item">Gaffo	Giulia</li>
      <li class="list-group-item">Petre	Alina Veronica</li>
      <li class="list-group-item">Rocques	Ines</li>
      <li class="list-group-item">Ty Caroline</li>
    </ul>
</div>
<div class="py-1">
  <h4> Catalogo </h4>
  <p class="bold"> Il catalogo della terza di edizione di ARSMar è disponibile in #OpenAccess su zenodo.</p>
  <img src="{{ site.baseurl }}/assets/progetti/arte-marine-2023/catalogo.png" alt="catalogo">
  <p>A cura di  Francesco M. Falcieri & Gabriella Traviglia
  <p>Progetto grafico Giacomo Dal Prà </p>
  <p>DOI: 10.5281/zenodo.7880410</p>
  <p>In partecipazione con BlueNIGHTs, EU HORIZON-MSCA-2022-CITIZENS-01 action, GA 101061605</p>
  <p> <a href="https://zenodo.org/record/7880410">Puoi scaricare la tua copia qui</a></p>
</div>
<div class="py-1">
  <h4> Tour con gli artisti </h4>
  <p> Tour con gli artisti di ARSMar - L'arte delle Scienze Marine: sarà possibile prenotare un tour di 45 minuti con gli allievi dell'Accademia di Belle Arti di Venezia che hanno partecipato a questa edizione della Mostra-Laboratorio. Verrete condotti attraverso l'esposizione proposta dal CNR e scoprirete la storia scientifica e artistica dietro le opere esposte.</p>
  <p><a href="https://www.eventbrite.it/e/biglietti-tour-con-gli-artisti-di-arsmar-larte-delle-scienze-marine-630869095447?aff=efbeventtix">Prenota la tua visita</a></p>
</div>

{% include arte_scienze_marine_editions.html %}
{% include newsletter.html %}
