---
layout: page
page_id: arte-marine
title: Educazione alla sostenibilita
claim: Mostra-Laboratorio “L’arte delle Scienze Marine” e workshop
toc: true
---

<h3>Mostra-Laboratorio “L’arte delle Scienze Marine”</h3>
<blockquote>
  <p>Lavoro scientifico e lavoro artistico hanno entrambi per caratteristica essenziale quella di progettare, dar senso, trasformare la realtà: ridurre cioè oggetti e fatti a significati sociali</p>
  <footer>La scienza e l’arte a cura di Ugo Volli, Mazzotta, Milano 1972</footer>
</blockquote>

<h4>Il nostro laboratorio</h4>
<p>Il laboratorio dell'Arte delle Scienze Marine mira a valorizzare il tema della Giornata Mondiale degli Oceani, un'iniziativa promossa dalle Nazioni Unite dal 2008 allo scopo di informare e coinvolgere i cittadini nella tutela degli ambienti marini e costieri. </p>
<p><strong>Ogni 2 anni lanciamo una Open Call per partecipare al nostro Laboratorio aperta a creativi e artisti emergenti : questo workshop sperimentale porta ad una esposizione tra arte e scienza per mostrare il futuro del nostro Pianeta Blu.</strong></p>
<p>Ognuno dei creativi selezionati viene abbinato a un ricercatore nel campo delle Scienze Marine e inizia una stimolante esplorazione interdisciplinare, viene guidato dal ricercatore tra le indagini più rilevanti e all'avanguardia nel campo del cambiamento climatico e della sostenibilità.</p>
<p><strong">Creativi e ricercatori lavorano in stretta collaborazione per alcuni mesi: partecipano a seminari con curatori, artisti famosi e divulgatori consolidando una forte relazione.</strong></p>
<p>Ogni scienziato presenta articoli, progetti e metodologie all'artista che a sua volta deve avviare un processo di ricerca artistica con l'obiettivo di produrre un'opera d'arte che convogli le informazioni e i messaggi scientifici attraverso mezzi esperienziali ed emozionali.</p>
<iframe width="580" height="380" src="https://www.youtube.com/embed/rvDPET3qEUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
<h4>Il perchè di questo Laboratorio</h4>
<p>L'obiettivo finale del nostro workshop è, quindi, la produzione di opere d'arte di vario genere, ispirate agli articoli scientifici dei ricercatori coinvolti al fine di organizzare una mostra che persegua i principi di divulgazione scientifica, interdisciplinarietà e dialogo intergenerazionale tra studenti e ricercatori.</p>
<p>In questo modo anche temi scientifici molto complessi possono diventare accessibili al grande pubblico. La mostra che ne deriva si propone come un'esperienza mediata durante la quale "moderatori d'arte e scienza" accompagnano i visitatori e spiegano loro ogni pezzo, sia per il contenuto artistico che scientifico.</p>

<h4>6 motivi per cui intraprendiamo la sfida</h4>
<ul>
  <li>Sensibilizzare l'opinione pubblica sui temi della sostenibilità ambientale;</li>
  <li>Informare e coinvolgere i cittadini nella conoscenza e nella protezione degli ambienti marini e costieri;</li>
  <li>Promuovere un dialogo intergenerazionale tra studenti/creativi/artisti alle prime armi e ricercatori;</li>
  <li>Sviluppare le competenze di studenti/creativi/artisti all'inizio della carriera e ricercatori nella comunicazione e divulgazione scientifica;</li>
  <li>Valorizzare l'importanza dell'arte nella società.</li>
</ul>

<h4>Parlano gli ideatori dell'iniziativa</h4>
<iframe width="580" height="380" src="https://www.youtube.com/embed/FpRvK9j99qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
<p>Nata da un <a href="http://distrettovenezianoricerca.it/WorldOceanDay_call4artists.html">Call per Artisti</a> indetta a marzo 2019 in occasione del World Oceans Day, iniziativa riconosciuta dalle Nazioni Unite fin dal 2008 che si pone come obiettivo di informare e coinvolgere i cittadini nella conoscenza e tutela degli ambienti marini e costieri, questa esposizione persegue i principi della divulgazione scientifica, dell'interdisciplinarietà e del dialogo intergenerazionale tra studenti e ricercatori.</p>
<iframe width="580" height="380" src="https://www.youtube.com/embed/_bMmhWk28sg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>

<div class="row">
  <div class="col-12 col-md-6">
    <h4>I nostri creativi</h4>
    <ul>
      <li>Studenti dell'Accademia di Belle Arti di Venezia</li>
      <li>Studenti del Conservatorio Benedetto Marcello</li>
      <li>Studenti delle Università Ca' Foscari Venezia, IUAV, VIU e IUSVE</li>
    </ul>
  </div>
  <div class="col-12 col-md-6">
    <h4>I nostri ricercatori</h4>
    <ul>
      <li>Ricercatori CNR dell'Istituto di Scienze Marine (ISMAR) e dell'Istituto di Scienze Polari (ISP)</li>
      <li>Ricercatori dell'Università Ca' Foscari</li>
    </ul>
  </div>
</div>
<h4>Scienze marine</h4>
<p>Questo progetto si è rivelato innovativo non solo per la diretta e stretta collaborazione tra scienziati e artisti alle prime armi, ma anche per i temi scientifici proposti. In questo lavoro, infatti, sono stati approfonditi campi di ricerca meno conosciuti e all'avanguardia nei loro campi specifici. </p>
<p>I temi proposti hanno spaziato dalle osservazioni della microstruttura della turbolenza al clima delle onde, dalla ricostruzione palobatimetrica alla dinamica delle acque dense nel Mare di Ross (Antartico) e dalla contaminazione da mercurio nell'acqua all'inquinamento acustico subacqueo.</p>
<h4>Alcuni esempi di ciò che trattiamo </h4>
<div class="d-flex align-self-center">
  <img src="{{ site.baseurl }}/assets/progetti/arte-marine/scienze-marine.gif" alt="Gif aree scienze marine" />
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <p>Dinamica delle masse d'acqua in ambienti mediterranei e polari,
    Microstruttura e processi di rimescolamento
    Dinamica e osservazione delle onde
    Origine delle microplastiche in mare e loro impatto
    Zooplancton e fitoplancton
    Contaminanti nell'ambiente marino (mercurio e altri metalli pesanti)
    Politiche e strategie di pianificazione marina
    Idrodinamica della laguna di Venezia Inquinanti emergenti nella laguna di Venezia
    Biota e piccole microplastiche
    Paleoclima: i proxy degli incendi
    Paleoclima: i proxy del riscaldamento
    Aerosol artici e fioriture algali
    Profumi nelle regioni polari
    Sedimenti e piccole microplastiche
    Idrogeologia e isotopi stabili
    Uccelli marini i come bioindicatori</p>
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex flex-column justify-content-center">
      <img src="{{ site.baseurl }}/assets/progetti/arte-marine/scienze-marine.gif" alt="Gif aree scienze marine" />
    </div>
      </div>
</div>







{% include arte_scienze_marine_editions.html %}
{% include newsletter.html %}
