---
layout: page
page_id: arte-marine
title: ArsMar - L’arte delle Scienze Marine
claim: Bio≠ - Sulla Biodiversità. Online la Call 2025
toc: true
---

<h3>ARsMar 2025 - Bio≠</h3>
  <div class="p-3 text-center">
    <h3>INFORMAZIONI</h3>
      <strong>
        Siamo felici di annunciare che la nostra mostra laboratorio apre una nuova call è aperta.</strong>
        <br>
        <br>
        <h2><a href="https://forms.gle/KxTfY4XQqiMxKKbV6 " target="_blank">Per applicare compila questo form (LINK ESTERNO)</a></h2>
        <h4>C’è tempo fino al 21 luglio per candidarsi!</h4>
  </div>
  <div class="p-3">
    <h3 class="text-center"> CONTESTO </h3>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/xODBvySD850" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>ARsMar &ndash; L&rsquo;Arte delle Scienze Marine nel 2025 arriver&agrave; alla quarta edizione, quest&rsquo;anno organizzata all&rsquo;interno del Biodiversity Science Gateway del Nationa Future Biodiversity Center.</p>
    <p>ARsMar nasce dalla collaborazione tra l&rsquo;Istituto di Scienze Marine del CNR, Il Distretto Veneziano Ricerca e Innovazione (DVRI) e l&rsquo;Accademia delle Belle Arti di Venezia in occasione del World Oceans Day 2019 con l&rsquo;obiettivo di informare e coinvolgere i cittadini nella conoscenza e tutela degli ambienti marini e costieri e delle tematiche legate alla biodiversit&agrave;. Scopo di ARsMar &egrave; divulgare tematiche legate alle scienze marine attraverso l&rsquo;interazione tra scienziati e artisti in formazione stimolando un percorso di ricerca artistica a partire da tematiche di ricerca scientifica.</p>
    <p>Per la quarta edizione verranno selezionati 10 studenti dell&rsquo;Accademia delle Belle Arti di Venezia che, in seguito all&rsquo;affiancamento con un ricercatore/team di ricerca del CNR e ad un percorso di formazione specifica, producano altrettante opere ispirate dalle tematiche di ricerca proposte.&nbsp;</p>
    <p>Obiettivo finale del progetto sar&agrave; quello di partecipare con le opere prodotte alla mostra &ldquo;Bio&ne; - La Biodiversit&agrave; come convivenza essenziale&rdquo;&nbsp;</p>
  </div>

  <div class="p3">
    <h3 class="text-center">COSA SUCCEDE</h3>
    <p>Gli studenti selezionati accederanno ad un programma interdisciplinare tra arte e scienza.&nbsp;</p>
    <ul>
       <li>Ad ogni studente selezionato verr&agrave; affiancato un ricercatore, che sar&agrave; il suo <em>tutor scientifico</em> e che gli racconter&agrave; il suo campo di interesse in ambito accademico, rimanendo a disposizione per l&rsquo;intero periodo del programma (Ottobre/Dicembre 2024);</li>
       <li>A partire dalle tematiche scientifiche proposte, verr&agrave; chiesto allo studente selezionato di rappresentare, attraverso il linguaggio artistico, la ricerca del proprio <em>tutor scientifico </em>entro il 5 aprile 2025;</li>
       <li>La mostra &ldquo;Bio&ne; - La Biodiversit&agrave; come convivenza essenziale&rdquo; aprir&agrave; verso fine Maggio 2025 e rester&agrave; aperta per 3 settimane circa, presso due sedi dei soci del DVRI - DISTRETTO VENEZIANO RICERCA E INNOVAZIONE.</li>
   </ul>
   <p>Le opere, frutto della collaborazione tra studenti e ricercatori, possono essere di diverso genere: dipinti, sculture, video, audio, installazioni, fotografie, graphic novels.</p>
  </div>

  <div class="p-3">
    <h3 class="text-center">IL TEMA DELLA QUARTA EDIZIONE</h3>
    <p><strong>Il termine Biodiversit&agrave; &egrave; un concetto complesso che vuole descrivere tutti gli aspetti della variet&agrave; di vita sulla Terra, la miriade di specie, gli ecosistemi complessi e le intricate relazioni che li uniscono.</strong><p>
    <p>Spesso l&rsquo;uomo tende a porsi all&rsquo;esterno di questo concetto utilizzando una visione antropocentrica, mettendosi al centro dell&rsquo;universo e considerando la Biodiversit&agrave; a fini utilitaristici e ignorando l&rsquo;interdipendenza di tutte le forme di vita.</p>
    <p>Riconoscere che l&rsquo;uomo &egrave; parte integrante della biodiversit&agrave; significa accettare la nostra responsabilit&agrave; di custodire e rispettare questo patrimonio planetario.</p>
    <p>Dipendiamo dalla biodiversit&agrave; per l&rsquo;aria che respiriamo, l&rsquo;acqua che beviamo, il cibo che mangiamo e il territorio che utilizziamo.. &Egrave; tempo di adottare una prospettiva ecocentrica, che valorizzi ogni forma di vita e riconosca il nostro ruolo all&rsquo;interno di un sistema pi&ugrave; ampio, dove l&rsquo;equilibrio e la sostenibilit&agrave; sono fondamentali per il benessere di tutti gli esseri viventi.</p>
  </div>
  <div class="p3">
    <h3 class="text-center">OBIETTIVI</h3>
    <p>Gli obiettivi dell’iniziativa sono i seguenti:</p>
    <ul>
      <li> sensibilizzare il pubblico sui temi della sostenibilità ambientale;</li>
      <li> informare e coinvolgere i cittadini nella conoscenza e tutela degli ambienti marini e costieri;</li>
      <li> promuovere un dialogo intergenerazionale tra studenti e ricercatori;</li>
      <li> sviluppare le competenze di studenti e ricercatori in ambito di comunicazione e divulgazione scientifica;</li>
      <li> valorizzare l’importanza dell’arte nella società.</li>
    </ul>
  </div>

  <div class="p3">
    <h3 class="text-center">INVIARE LA PROPRIA CANDIDATURA</h3>
    <p>Per partecipare, devi inviare la tua candidatura entro la mezzanotte del 21 luglio compilando il modulo all'indirizzo <a href="https://forms.gle/KxTfY4XQqiMxKKbV6">https://forms.gle/Vx2x5caK8uNTk1yx7</a></p>
    <p><strong>Dal momento che &egrave; richiesto l&rsquo;upload di alcuni file, sarà  necessario inserire i link we-transfer;</strong></p>
    <p>Durante la procedura di partecipazione, ti verranno richiesti:</p>
    <ul>
        <li><strong>UNA BREVE BIOGRAFIA.</strong> Vogliamo conoscerti meglio, parla di te!<br /><br /> Scrivi una breve presentazione su di te, indicando il tuo percorso formativo fino ad ora e le tue aspirazioni future. (MASSIMO 500 CARATTERI, SPAZI INCLUSI)<br /><br /></li>
        <li><strong>PORTFOLIO.</strong> Mostra i tuoi lavori precedenti. Seleziona al massimo 3 lavori/opere. Se non hai un portfolio, concentrati sulla domanda successiva.<br /><br /></li>
        <li><strong>IL TUO CONTRIBUTO.</strong> Siamo interessati a ricevere un primo concetto artistico che affronta il tema della biodiversit&agrave;. Puoi prepararlo in uno dei seguenti modi:<br /><br /></li>
          <ul>
              <li>Un testo di 500 caratteri, spazi inclusi, in cui puoi parlare del tema usando il linguaggio letterario che preferisci (prosa, poesia, cronaca);</li>
              <li>Un'immagine accompagnata da un testo esplicativo;</li>
              <li>Un file audio/video che spiega efficacemente la tua idea progettuale (una composizione musicale, un'installazione audio/video, un videoracconto?)</li>
          </ul>
    </ul>
    <p>Ti invitiamo a fornire un'introduzione in cui descrivi la tua visione del rapporto tra gli esseri umani e la natura, e il tuo punto di vista sul concetto di biodiversit&agrave;.</p>
    <p>I concept presentati, qualora fossero selezionati, potranno eventualmente evolvere nell&rsquo;opera finale solo se in linea con le tematiche affrontate dal ricercatore/team di ricerca a cui l&rsquo;artista sar&agrave; affiancato.</p>
    <p>La giuria &egrave; composta da: Gabriella Traviglia, Francesco Falcieri, Prof. Riccardo Caldura e Prof. Stefano Marotta.&nbsp;</p>
    <p>I risultati saranno comunicati sul sito del distrettovenezianoricerca.it e via mail entro la fine luglio, salvo diverse comunicazioni.&nbsp;</p>

   <div class="p3">
     <h3 class="text-center">RISCONOSCIMENTI</h3>
     <p>I 10 studenti selezionati riceveranno i seguenti riconoscimenti:</p>
     <ul>
        <li>Esposizione della propria opera presso in occasione della mostra &ldquo;Bio&ne; - La Biodiversit&agrave; come convivenza essenziale&rdquo;</li>
        <li>Attestato di Partecipazione all&rsquo;iniziativa erogato dal CNR - Consiglio Nazionale Ricerca e del DVRI</li>
        <li>Rimborso di tutte o parte delle spese sostenute per la realizzazione dell&rsquo;opera</li>
        <li>Premio di 500 euro per l&rsquo;opera pi&ugrave; significativa della mostra</li>
      </ul>
   </div>
</div>
{% include arte_scienze_marine_editions.html %}
{% include newsletter.html %}
