---
layout: page
page_id: caffe
title: Caffe dell'Innovazione
claim: Gli eventi in collaborazione del Network
toc: true
---

<section>
<h3>I Caffè dell’Innovazione</h3>
  <div style="text-align:center">
  <img src="{{ site.baseurl }}/assets/progetti/caffe/logo-caffe.png" alt="Caffè dell'Innovazione - Terza Edizione" />
  </div>
  <br/>
  <blockquote>
 <p>Portare la ricerca e l’innovazione fuori dagli spazi normalmente istituiti con lo scopo di rigenerare e valorizzare dal punto di vista culturale uno spazio urbano.</p>
   </blockquote>
 <p>I Caffè dell’Innovazione sono un ciclo di eventi che il DVRI organizza in cooperazione con gli enti soci del Distretto Veneziano della Ricerca e dell'Innovazione.
 </p>

 <p>L’obiettivo generale è quello di promuovere un processo di valorizzazione urbana degli spazi chiave della realtà lagunare, in particolare del patrimonio tangibile e intangibile legato ai soci del Distretto, al fine di svelare alla cittadinanza tutta, non solo agli addetti ai lavori, le molte risorse che la città nasconde. Dunque il target principale di questa iniziativa sono coloro che più di tutti vengono a contatto, anche inconsapevolmente, con questo straordinario patrimonio: studenti e cittadini veneziani.</p>

<!--
 <p>L’obiettivo generale è quello di promuovere un processo di rigenerazione urbana degli spazi chiave della realtà lagunare, al fine di svelare le risorse nascoste di cui dispone la Serenissima non solo agli addetti ai lavori, ma anche a coloro che più di tutti quanti vengono a contatto, anche inconsapevolmente, con questo straordinario patrimonio: studenti e cittadini veneziani.</p>  -->

 <p>Grazie a questa iniziativa è dunque possibile offrire alle diverse organizzazioni culturali e di ricerca che fanno parte del DVRI spazi sempre nuovi per raccontare i loro progetti, le loro attività e le loro ricerche. In quest’ottica le attività che verranno realizzate in collaborazione con  i 14 enti che fanno parte del DVRI, si svolgeranno mettendo in atto uno scambio reciproco degli spazi da parte degli enti soci, per portare la ricerca e la cultura fuori dalla propria sede istituzionale raggiungendo  in questo modo nuovi pubblici. .</p>

 <!--- <p><strong>Cerchiamo di fare in modo che la cultura esca dagli spazi istituzionali per avvicinarsi sempre di più alle diverse fasce della cittadinanza, attivando un processo di condivisione del valore culturale..</strong></p> --->

</section>
<section>
    <h3> Proponi il tuo caffè dell'Innovazione </h3>
    <p> Se sei un ente socio del DVRI - Distretto Veneziano Ricerca e Innovazione puoi utilizzare il form sottostante per proporre un evento all'associazione </p>
    <p> Ti aiuteremo a coordinare i rapporti tra i soci o crearne di nuovi. </p>
    <div data-tf-widget="IlfEm2hz" data-tf-iframe-props="title=Crea un evento con il DVRI" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
    <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmA8hqaLlOT7Nb6GKBlxIcm-QaSUlNpNI8WEcKtL9x4IyYnw/viewform?embedded=true" width="100%" height="856" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe> -->
</section>
<section>
    <h3> Richiesta di Patrocinio </h3>
    <p> Se non sei un socio del DVRI puoi comunque fare rete con noi.</p>
    <p> Puoi fare richiesta di patrocinio del tuo evento, performance o altro che stai organizzando</p>
    <p> Se hai richieste specifiche puoi contattarci a dvr@unive.it oppure scrivere una nota nel form </p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfwYknv1_pt6D0EE-Y8vlpMyVb5mQeiGEraOs4ZXJjAKhIj0w/viewform?embedded=true" width="100%" height="951" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
</section>
{% include caffe_editions.html %}
{% include newsletter.html %}
