---
layout: page
page_id: chi-siamo
title: DVRI
claim: Distretto Veneziano della Ricerca e dell'Innovazione
toc: true
---

<h3>Cos'è il DVRI?</h3>
<h4>La nascita del Distretto</h4>
<p>Il <strong>Distretto Veneziano della Ricerca e dell’Innovazione</strong> (DVRI) nasce da una scintilla, da un incontro tra i centri di ricerca e le organizzazioni culturali veneziane avvenuto nel 2011, quando si trovarono insieme a celebrare l’UNESCO World Science Day.</p>
<p>L’occasione fu determinante per avviare <strong>un processo di rigenerazione urbana capace di costruire una nuova comunità sulle basi della ricerca e dell’innovazione</strong>.</p>
<p>Il primo passo fu la firma da parte di 22 enti veneziani del <strong><a href="#the-venice-statement">Venice Statement</a></strong> – La dichiarazione di Venezia per la collaborazione nella ricerca il 10 novembre 2011.</p>
<p>Nel 2014, 16 enti veneziani decisero di costituire un’associazione che rendesse la loro presenza comune sul territorio pubblica, stabile e universale.</p>

<blockquote>
 <p> Venezia, in tutta la sua storia, è stata un coacervo di popolazioni, esempio per secoli di un multiculturalismo ante litteram.</p>
<cite>Umberto Galimberti, I miti del nostro tempo, 2009</cite>

</blockquote>

<h4>Le caratteristiche del DVRI</h4>
<p><strong>Pubblica</strong>: <em>Cosa fa la ricerca a Venezia!</em> Non c'è niente di più lontano dalla natura della ragione e della scienza della pretesa di essere una sorta di conoscenza riservata pochi iniziati. L'autentico sapere esige di essere comunicato in modo pubblico. Coltivare il talento –fare ricerca sul proprio talento- pretende lo sforzo di disseminare la conoscenza per una società partecipe, attiva e preparata. La comunicazione della cultura e della ricerca così come il confronto con gli elementi costitutivi della città – le persone in primis devono essere per loro natura liberi e pubblici.</p>
<p><strong>Stabile</strong>: <em>Vivere Venezia!</em> La formazione è una missione imprescindibile degli enti che si occupano di cultura e ricerca. Prevede il contatto tra docenti, allievi, personale e la stabilità, la fisicità di uno spazio, permette la costruzione di un orizzonte comune. Nel medioevo i maestri chiamavano i propri allievi soci e così i membri del DVRI si definiscono tra loro e con la società. La ricerca, l’apprendimento, la formazione e la comunicazione non possono essere se non in una comunanza di vita sociale. Per configurare Venezia come luogo di incontro e guida verso il futuro e non farne solo una zona di passaggio calpestata dai turisti.</p>
<p><strong>Universale</strong>: <em>Venezia patrimonio dell’Umanità!</em> la ricerca e la cultura sono per tutti e di tutti e pretendono un dialogo con tutte le culture umane. Un dialogo che si innesta in una città da sempre aperta al mondo.</p>

<h4>I principi</h4>
<p>I principi che ispirano il DVRI affermano la missione comune di <strong>perseguire l’eccellenza</strong> nella ricerca scientifica. I soci del DVRI intendono:</p>

<ul>
  <li>Promuovere un clima di fattiva collaborazione che dia concretezza del 33 art. della costituzione italiana e al principio di <strong>libera circolazione delle idee e delle persone</strong>.</li>
  <li>Accogliere ricercatori e studiosi internazionali, dando il proprio contributo in ambito di <strong>cooperazione internazionale</strong></li>
  <li>Dare spazio ai <strong>giovani</strong> e alla <strong>donne</strong> affinché si costituisca una società in cui l’<strong>uguaglianza tra le persone</strong> sia un fondamento certo.</li>
  <li>Condividere risorse, conoscenze, spazi, persone che diano vita a progetti interdisciplinari e di <strong>ampio respiro socio-economico</strong>.</li>
  <li>Generare <strong>innovazione sociale ed economica</strong>, capace di attivare processi di pace nello sviluppo delle relazioni con altri paesi.</li>
  <li>Sviluppare un sistema economico-sociale capace di innovazione e <strong>recettivo al trasferimento tecnologico</strong>.</li>
</ul>

<p>Questi principi ispiratori guidano gli enti del Distreto nello <strong>stipulare convenzioni e patti bilaterali su progetti specifici</strong> che sappiano <strong>accrescere il valore della ricerca e della cultura a Venezia per la società tutta</strong> e per le generazioni future.</p>

<div style="margin: 60px 0" class="text-center">
  <a class="text-" href="{{ site.baseurl }}/progetti/diventa-socio.html"><button style="padding: 15px 30px; background-color: #3a9ca8; color: #fff; type="button" class="btn btn-default btn btn-lg">
    Diventa Socio</button></a>
</div>

<h3>The Venice Statement</h3>

<div style="text-align: center; padding: 20px">
<p><strong>La Dichiarazione di Venezia per la Collaborazione nella Ricerca</strong></p>
<p><em>UNESCO World Science Day – 10 November 2011</em></p>
</div>

<p>In occasione della Giornata Mondiale della Scienza celebrata sotto gli auspici dell’UNESCO, le Università e gli Enti di Ricerca di Venezia, nel ribadire la comune missione di perseguire l’eccellenza nella ricerca scientifica, si impegnano:</p>
<ul>
  <li>a promuovere lo sviluppo della ricerca scientifica in un clima di fattiva collaborazione, e in accordo con i principi della libera circolazione delle persone e delle idee espressi nell’Articolo 33 della Costituzione Italiana;</li>
  <li>a condividere risorse,conoscenze, strumenti e dati per la realizzazione di progetti comuni di ricerca a livello nazionale ed internazionale, indirizzati primariamente al conseguimento di uno sviluppo sostenibile;</li>
  <li>a promuovere sia l’accoglienza di ricercatori provenienti dall’estero sia la mobilità internazionale dei propri ricercatori, favorendo con ogni iniziativa possibile la cooperazione internazionale; con particolare riferimento alle donne e ai giovani;</li>
  <li>a sviluppare anche congiuntamente iniziative di trasferimento tecnologico che stimolino l’ innovazione nel contesto sociale ed economico della regione e del paese, e contribuiscano alla costruzione di processi di pace e di sviluppo nelle relazioni con altri paesi;</li>
  <li>a rendere operativi i suddetti impegni con specifiche convenzioni bilaterali o multilaterali tra tutte le istituzioni ed enti che aderiscono al Venice Statement for research.</li>
</ul>

<blockquote>
<p>Daring ideas are like chessmen moved forward; they may be beaten, but they may start a winning game.</p>
<cite>Johann Wolfgang von Goethe</cite>
</blockquote>

{% include enti.html %}

{% include newsletter.html %}
