---
layout: page
page_id: diventa-socio
title: Diventa socio del DVRI
claim: Candida il tuo ente per entrare nel Network
toc: true
---

<h3> Diventa socio del DVRI </h3>
<p> Per informazioni scrivere a dvr@unive.it o marco.cosmo@unive.it</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAgI1HfpycpNT16sDHX278RbmJKjK4f4TAnLwt11dkpoX1fQ/viewform?embedded=true" width="100%" height="1253" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
{% include enti.html %}
{% include newsletter.html %}
