---
layout: page
page_id: social-events
title: Social Events
claim: Condividere significati per generare valore
toc: false
---

<h3><strong>social</strong>events</h3>

<h4>Condividere significati per generare valore</h4>

<p>L’appuntamento, ormai fisso per i soci del DVRI, rappresenta un momento importante e concreto per condividere significati, temi, obiettivi e desideri al fine di creare una comunità scientifica distintiva nel panorama territoriale e, soprattutto, sensibile ai temi della divulgazione e della sostenibilità. Dall’incontro per creare un orizzonte comune che conduca ad una leadership culturale condivisa per la città di Venezia.</p>
<br>
<div class="cycler row">
<img src="{{ site.baseurl }}/assets/progetti/social-events/a.jpg" alt="Social Event  1" class="col-xs-6"/>

<img src="{{ site.baseurl }}/assets/progetti/social-events/b.jpg" alt="Social Event 2" class="col-xs-6"/>

<img src="{{ site.baseurl }}/assets/progetti/social-events/c.jpg" alt="Social Event 3" class="col-xs-6"/>

<img src="{{ site.baseurl }}/assets/progetti/social-events/d.jpg" alt="Social Event 4" class="col-xs-6"/>
</div>
<br>

<p>Seguono le assemblee e sono un momento per rafforzare le relazioni, nonché per operare da Contact Center tra le istituzioni culturali Veneziane.</p>

{% include social_events.html %}

{% include newsletter.html %}
