---
layout: page
page_id: social-events
title: Social Events 2018
claim: Condividere significati per generare valore
toc: false
gallery_scope: social_2018
---

{% include social_events.html %}

<h5 style="font-size: 16px; color: #c94533"> Social Event 2018: SMArt Passport</h5>
	<p> Il 23 aprile si è tenuto presso il <a href="http://www.dszv.it/it/">Centro Tedesco di Studi Veneziani</a>
 l’annuale edizione del Social Event del DVRI - Distretto Veneziano della Ricerca e dell’Innovazione, occasione offerta a tutte le istituzioni associate per confrontarsi sugli obiettivi in agenda e sui risultati raggiunti sino ad ora.</p>
<br>
<h5>Le Foto della giornata </h5>
 {% include gallery_social.html %}
<br>
<p>L’edizione aprile 2018 si è focalizzata sul progetto iniziato nel 2017, lo <a href="http://distrettovenezianoricerca.it/progetti/smart-passport.html">SMart Passport - la community card</a>SMart Passport - la community card: la SMart Passport card si presenta quale strumento offerto agli enti associati per rafforzare ulteriormente il Network dell’Higher Culture costituito dal DVRI attraverso un’attiva condivisione delle risorse.</p>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/jGvG5KxYdQc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Lo SMart Passport si inserisce in un’ottica più ampia di indagine circa il futuro e le potenzialità degli Ecosistemi Culutrali: in che modo si può rafforzare i legami di collaborazione tra i diversi soci e limitare le riserve di condivisione e cooperazione?</p>

<p>Per interrogarci su come lo SMArt Passport potrà migliorare, sono stati organizzati dei tavoli di lavoro condotti dagli advisor di <a href="https://culturit.org/locale/culturit-venezia/"> Culturit Venezia</a>. Da queste discussioni è nato un report che potete scaricare qui sotto. </p>

<a style="background-color:#5bb7b4; margin-left:300px; font-size:20px;" href="{{ site.baseurl }}/assets/progetti/social-events/Report.pdf">SCARICA IL REPORT</a>

<p>I principali obiettivi dei tavoli di lavori sono i seguenti: </p>
<ul>
	<li>l’esame dei risultati ottenuti in termini di risorse messe a disposizione dai singoli enti</li>
	<li> la disamina delle fasce d’utenti raggiunte </li>
	<li>proposte di nuovi target potenzialmente raggiungibili </li>
	<li> individuazione di istituzioni culturali che potrebbero usufruire dello SMArt Passport, mettendo a loro volta in campo delle risorse utili e capaci di arricchire ulteriormente il Network DVRI.</li>
</ul>

{% include social_events.html %}

{% include newsletter.html %}
